{% extends 'base.html' %}

{% block title %}Task list{% endblock %}


    {% block content %}
      <div class="col-md-10 offset-1">
          <br>
          <h3>Tarefa</h3>

          <form class="form-group" method="post">

                {% csrf_token %}
                  {{form.as_p}}

             <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Salvar</button>
             <a href="{%url 'home' %}" class="btn btn-outline-danger my-2 my-sm-0"> Cancelar</a>

          </form>
      </div>
    {% endblock %}